.grid-container {
  height: 100vh;
  /* border: 10px solid #14a76c; */
  display: grid;
  grid-template-rows: 300px auto;
  grid-template-columns: 200px auto;
  grid-gap: 2px;
}
/* r c r c */
.item1 {
  grid-area: 1 / 1 / 2 / fill;
}

/* .menu {
  grid-area: 2 / 1 / fill / 2;
  z-index: 1;
} */

.item3 {
  grid-area: 2 / 2 / fill / fill;
}
